* {
    box-sizing: border-box;
}

h1 {
    color:white;
    background-color: pink;
}

html {
    background-color: grey;
}

header{
    color:yellow;
}
#class { 
    color:greenyellow;
}
ul{
    color:lightblue;
}

footer{ 
    color:lightpink;
}

p{
    color:greenyellow;
}
#heading-style-1{
    color: white;
    background-color: pink;
}
.p1 {
    color:yellow
}
.p3 {
    color: skyblue;
}
.p2 {
    color: greenyellow;
}
.p4 {
    color: white;
}
.border1 {
    color: aqua;
}